<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <title>Jack Sari</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<nav>
    <div class="section-center">
        <a href="index.html" class="icon">
            <img src="assets/jack-logo.png" alt="">
            <p>Jack <span>Sari</span></p>
        </a>
        <div class="search">
            <div class="container-input">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Discover news, articles and more...">
            </div>
        </div>
        <div class="links">
            <a  href="index.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="blogs.html">Blogs</a>
            <a href="about.html">About me</a>
            <a class="active" href="contact.html">Contact</a>
        </div>
        <div class="bars-mobile" id="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<div class="sidebar" id="nav-links">
    <div class="head">
        <i id="nav-toggle-sidebar" class="far fa-times-circle"></i>
    </div>
    <ul class="page-links">
        <li>
            <a class="active" href="#">1. Home</a>
        </li>
        <li>
            <a href="projects.html">2. Projects</a>
        </li>
        <li>
            <a href="blogs.html">3. Blogs</a>
        </li>
        <li>
            <a href="about.html">4. About</a>
        </li>
        <li>
            <a href="contact.html">5. Contact</a>
        </li>
    </ul>
    <div class="social-links">
        <a target="_blanck" href="https://www.facebook.com/jack.sari.37/">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a target="_blanck" href="https://www.linkedin.com/in/jacksari/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blanck" href="https://github.com/jacksari">
            <i class="fab fa-github-square"></i>
        </a>
        <a target="_blanck" href="https://twitter.com/sari_jack">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>
</div>

<section class="section page-contact">
    <div class="section-center">
        <div class="form">
            <h1>Let's Connect</h1>
            <h3>FlexiBlog services such as Formspree, Getform, FormKeep and others to receive form submissions via email.</h3>
            <form class="form-container box" action="">
                <div class="form-control">
                    <label>Name:</label>
                    <input type="text" placeholder="Your Name">
                </div>
                <div class="form-control">
                    <label>Email:</label>
                    <input type="email" placeholder="Your email">
                </div>
                <div class="form-control">
                    <label>Message:</label>
                    <textarea rows="10" placeholder="Your message"></textarea>
                </div>
                <div class="form-control content-btn">
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>
        <div class="aside-contact">
            <h2>Our Commitment</h2>
            <div class="box">
                <p>We take our commitment to our users seriously. If you need our help with your project, have questions about how to use the site or are experiencing any technical difficulties, please do not hesitate to contact us.</p>
            </div>
            <h2>Advertise With Us</h2>
            <div class="box">
                <p>Interested in working together?</p>
                <p>Suspendisse potenti. Mauris mollis diam tempus ut.</p>
                <div class="container-info">
                    <div class="item">
                        <i class="fas fa-phone"></i>
                        <p>+51 844825449</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-phone"></i>
                        <p>+51 844825449</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-phone"></i>
                        <p>+51 844825449</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="section-center">
        <div class="grid-footer">
            <div class="item-footer item1">
                <p>© 2021, All Rights Reserved.</p>
                <span>Powered By React and Gatsby</span>
            </div>
            <div class="item-footer">
                <h4>Quick Link</h4>
                <div class="links">
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                </div>
            </div>
            <div class="item-footer">
                <h4>Quick Link</h4>
                <div class="links">
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                </div>
            </div>
            <div class="item-footer">
                <h4>Quick Link</h4>
                <div class="social-links">
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>
        <div class="message">
            <p>Hecho con ❤️ en Perú para todo el mundo de habla hispana</p>
        </div>
    </div>
</footer>

</body>
</html>
